.container {
    max-width: 40vmax;
    margin: auto;
    padding: 0;
    margin-top: 100px;
}

.post{
    width: 100%;
    margin: 15px 0px;
    padding: 20px 0px;
    border-radius: 5px;
    background-color: antiquewhite;
    font-family: 'Segoe UI',sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.sender{
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid burlywood;
    padding: 10px;

}
img.DP{
    width: 3vmax;
    height: 3vmax;
    border-radius: 50%;
    margin-right: 15px;
    background-image: url(../images/deafault.png);
    background-size: cover;
}

img.imagecontent{
    width: 100%;
}

h3.caption{
    text-align: center;
    align-items: center;
}

.captioncontainer{
    width: 100%;
    background-image: url(../images/captioncontainer.jpg);
    background-size: 300px;
    margin: 20px 0px;
}

.caption{
    padding: 20px;
}

.heading{
    margin: auto;
    text-align: center;
    width: 80%;
    border-bottom: 3px solid burlywood;
    color: burlywood;
    font-family: 'Century Gothic', sans-serif;
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.post img{
    cursor: pointer;
    transition: transform .3s;
}

.post img:hover{
    transform: scale(1.05);
}

.post p{
    line-height: 18px;
    font-size: 18px;
}

.post2{
    display: none;
}

.read-more-btn{
    color: #0984e3;
}

.read-more-text{
    display: none;
}

.read-more-text--show{
    display: inline;
}