.container{
    font-family: 'Century Gothic', sans-serif;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-items: flex-start;
}

.message{
    flex: 60%;
}

.container h1{
    font-size: 50px;
}

.container h1:hover{
    color: burlywood;
    cursor: default;
}

.message p {
    margin: 10px 0 10px;
    font-size: 20px;
}

.polaroid {
    flex: 30%;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: rotate(3deg);
    position: static;
}


.polaroid h2{
    padding: 10px;
    text-align: center;
    font-family: 'Goodest', sans-serif;
    font-size: 50px;
}

.polaroid img{
    width: 100%;
}

@media screen and (max-width: 700px) {
    .container, .polaroid {   
    flex: 100%;
    }
}