a{
    text-decoration: none;
}

.container{
    font-family: 'Century Gothic', sans-serif;
    display: flex;
    align-items: flex-start;
}

ul{
    list-style-type:none;
}

h1.headline{
    font-size: 10vh;
}
h1.headline:hover{
    color: burlywood;
    cursor: default;
}

.container li{
    padding-top: 15px;
    font-size: 3vh;
}

.container a {
    color: black;
}

.container a:hover {
    background-color:burlywood;
    border: rgb(206, 147, 70) solid 5px;
    padding: 5px;
    transition: 0.3s;
    color: #ffffff;
}

img {
    width: 100%;
}

.polaroid {
    width: 400px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: rotate(5deg);
    margin-left: 25rem;
}

.polaroid h2{
    text-align: center;
    font-family: 'Goodest', sans-serif;
    padding: 10px 20px;
    font-size: 2rem;
}