.container1 {
    font-family: 'Century Gothic', sans-serif;
    text-align: left;
    align-items: left;
    margin-left: 80px;
}

.container1 h1{
    margin: 5px 0px;
}

.container1 h1:hover{
    color: burlywood;
}

.container1 p{
    margin: 15px 0px;
    font-size: 18px;
    line-height: 1.5;
}